<%= @user.email %>
<% if @user.admin?%>
    <%= "admin"%>
<% else %>
    <%= "user"%>
    <% if @user.ban?%>
        <%= "Banlı"%>
    <% end %><br>
<% end%>
<br>
<fieldset>
  <legend>Records</legend>
    <div class="large-4 columns">
        <%= form_for @user, url: admin_user_path(@user) do |f| %>
            <%= f.text_field :email%>
            <br>
            <%= f.label :ban%>
            <%= f.check_box :ban %><br>
            <%= f.label :Admin%>
            <%= f.check_box :admin%><br>
            <%= f.submit %>
        <% end %>
    </div>
</fieldset>